.headerMainDiv {
    padding: 13px 3%;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.navItem {
    margin-left: auto;
    align-items: center;

}

.navLink {
    margin: 0 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.ImgDesktop {
    align-self: center;
    cursor: pointer;
}

.ImgMobile {
    display: none;
}



@media(max-width:1200px) and (min-width:992px) {
    .navLink {
        margin: 0 5px;
    }

    .navItem {
        align-items: flex-start;
    }
}

@media (max-width:992px) {
    .ImgDesktop {
        display: none;
    }

    .ImgMobile {
        display: block;
        /* position: fixed; */
        position: fixed;
        /* right: 10%; */
        /* top: 22%; */
    }

    .navLink {
        margin: 0px;
    }

    .navItem {
        align-items: flex-start;
    }
}

@media(max-width:767px) {
    .ImgMobile {
        position: absolute;
        right: 15%;
    }
}

@media(max-width:500px) {
    .ImgMobile {
        position: absolute;
        right: 20%;
    }
}